.containerProducts .cards{
    max-width: 1100px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.containerProducts h1{
    text-align: center;


}

.cards{

    display: flex;
    flex-direction: row;
    margin-left:100px;
    
    
    

}