.container{

    width: 100%;

}

.container h1{
    text-align: center;
}
.options{
    width: 100%;
    margin-left: 450px;
    margin-top: 50px;
   
}
.options button{

    width: 200px;
    height: 40px;
    margin-left: 15px;

    
}
