.containerLogin{
width: 300px;
height: 200px;
margin: auto;
margin-top: 10%;

border: 1px solid black;
border-radius: 5px;

display: flex;
flex-direction: column;
}

#lbl1,#lbl2{

    width: 50px;
    padding-left: 50px;
    padding-top: 5px;
}
#btn1,#btn2{
    width:70px ;
    margin: auto;
    margin-bottom:10px;
    
}
